<div class="page-header h1">
    <b>SmartHome</b>
</div>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading panel-title text-center "><h3>Alunos TSI - 3212</h3> </div>
        <div class="panel-body h5"><b>Nome: </b>Alessandro Oliveira <br><br>
                                   <b>Email: </b>AlessandroOliveira@gmail.com</div>
        <div class="panel-body h5"><b>Nome: </b>Luciano@gmail.com <br><br>
                                   <b>Email: </b>AlessandroOliveira@gmail.com</div>
        <div class="panel-body h5"><b>Nome: </b>Thiago de Oliveira Soares <br><br>
                                   <b>Email: </b>thg.ol.so@gmail.com</div>
    </div>
</div>
<footer class="text-center footer">
    <p>Sistema de Automacao Residencial <a href="http://gustavomaruyama.com/homepage/#!/iot-tp01">TSI - IFMS - 3212</a></p>
</footer>